@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@media (max-width: 600px){
  .test{
    color: rgb(233, 100, 5);
    font-size: 1.5em;
  }
}

.test{
  /* font-size: 10em; */
}

.navbar{
  position: fixed;
  top: 10px; /*this has created the space on top of the header/navbar, if it's 0px; there won't be any space created*/
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px);
}

.navbar-list ul li{
  text-align: center;
  list-style: none;
  display: inline-block;
  justify-content: center;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}

.navbar-list {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  padding: 4px 20px 4px 12px;
}

.image{
  height: 70px;
  display: inline;
  margin-right: 20px;
}
.image-con{
  width: 100%;
  height: auto;
}

.church-name{
  font-family: Amore Kiena;
  font-size: 30px;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "uno dos"
    "tres cuatro";
}

.uno { grid-area: uno; }

.dos { grid-area: dos; }

.tres { grid-area: tres; }

.cuatro { grid-area: cuatro; }

.assisi3{
  width: 100%;
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
