@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@media (max-width: 600px){
  .test{
    color: rgb(247, 57, 237);
    font-size: 1.5em;
  }
}

.test{
  /* font-size: 10em; */
}

.navbar{
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px); */
}

.navbar-list ul li{
  text-align: center;
  list-style: none;
  display: inline-block;
  justify-content: center;
  margin-right: 10px;
  text-transform: uppercase;
}

.navbar-list {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  padding: 4px 20px 4px 12px;
}

.image-con{
  
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
